
    <div class="jumbotron">

      <div class="row g-3 align-items-center">
          <div class="col-sm-4">
            <h3 style="text-align: center;">Find Flights</h3>
            <form #findFlightsForm="ngForm" (ngSubmit)="onSubmit(findFlightsForm.value)">

              <div class="col-auto">
                <div class="form-group mb-2">
                  <label for="departureFrom">Departure From</label>
                  <input class="form-control" type="text" name="departureFrom" [(ngModel)]="departureFrom" placeholder="Departure City" />
                </div>
              </div>

              <div class="col-auto">
                <div class="form-group mb-2">
                  <label for="arrivalTo">Arrival To</label>
                  <input class="form-control" type="text" name="arrivalTo" [(ngModel)]="arrivalTo" placeholder="Destination City" />
                </div>
              </div>

              <div class="col-auto">
                <div class="form-group mb-2">
                  <label for="dapartureDate">Departure Date</label>
                  <input class="form-control" type="email" name="dapartureDate" [(ngModel)]="dapartureDate" placeholder="MM/DD/YYYY" />
                </div>
              </div>


              <div class="col-auto">
                <div align="center"  class="form-group mb-2">
                  <button type="submit" class="btn btn-primary mb-2">Search</button>
                </div>
              </div>

            </form>
        </div>




    </div>


    <router-outlet></router-outlet>
